CONTRACT_ADDRESS=0x316951585c036c0e410ed33add0ffab314801248
WSS_URL=wss://ethereum-sepolia-rpc.publicnode.com
# important: set this to mock for testing/simulation, native for actual hardware
GPIOZERO_PIN_FACTORY=mock