CONTRACT_ADDRESS=0x7F46dD5eB0b48805053738541693EBC5473669d2
WSS_URL=wss://ethereum-sepolia-rpc.publicnode.com
# important: set this to mock for testing/simulation, native for actual hardware
GPIOZERO_PIN_FACTORY=mock