CONTRACT_ADDRESS=0x973702bfe1Ee5f7Fff560Ad409527D3Bf7Bb5865
WSS_URL=wss://ethereum-sepolia-rpc.publicnode.com
# important: set this to mock for testing/simulation, native for actual hardware
GPIOZERO_PIN_FACTORY=mock